<div class="jumbotron">
  <h1 style="display: inline;" class="display-3 text-primary">Real-time  Parking  Booking  System</h1>
  <img style="width: 150;height: 150px;margin-top: -30px" src="../../assets/FREE-PARKING.png" alt="">
  <hr class="my-4">
  
  <p>
    The  proposed  project  is  a  smart  real-time  parking  booking  system  that  provides  customers  an  easy  way  of  reserving  a  parking  space  online.  It  overcomes  the  problem  of  finding  a  parking  space  in  commercial  areas  that  unnecessary  consumes  time.  Hence  this  project  offers  a  web  or  mobile  based  reservation  system  where  users  can  view  various  parking  areas  and  select  the  space  to  view  whether  space  is  available  or  not.  If  the  booking  space  is  available  then  he  can  book  it  for  specific  time  slot.  The  booked  space  will  be  marked  yellow  and  will  not  be  available  for  anyone  else  for  the  specified  time.  This  system  provides  an  additional  feature  of  cancelling  the  bookings.  User  can  cancel  their  books  space  anytime.  After  making  booking  users  are  notified  about  the  booking  via  email  along  with  unique  parking  number.  
    
  </p>
  
  <p class="lead">

    <a class="btn btn-primary btn-lg" target="_blank" href="https://www.dropbox.com/s/hs5l42fwjmdn69m/ProjectLevel1.doc?dl=0" role="button">Learn more</a>
    <a style="margin-left:10px" class="btn btn-success btn-lg" target="_blank" href="https://console.firebase.google.com/u/0/project/car-parking-app-5ddd3/database/car-parking-app-5ddd3/data" role="button">See Database</a>
    
  </p>
</div>